# API

* Application programming interface

In [ ]:
from dotenv import load_dotenv
import os, requests
import pandas as pd

load_dotenv()
api_key = os.getenv("ALPHA_API_KEY")
symbols = ["AAPL", "NVDA", "TSLA", "IBM"]
stock_list = []

for symbol in symbols:
    function = "TIME_SERIES_INTRADAY"
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=5min&apikey={api_key}'
    data = requests.get(url).json()
    stock_list.append(data)

print(data)

In [31]:
len(stock_list)

4

In [32]:
stock_list[0].keys()

dict_keys(['Meta Data', 'Time Series (5min)'])

In [33]:

# datetime1: dict
# datetime2: dict
pd.DataFrame(stock_list[0]["Time Series (5min)"]).T.head()

                      1. open   2. high    3. low  4. close 5. volume
2022-11-04 20:00:00  138.0798  138.1800  138.0700  138.1200     13042
2022-11-04 19:55:00  138.1400  138.1400  138.0700  138.0700      9587
2022-11-04 19:50:00  138.1200  138.1300  138.0700  138.1200      3695
2022-11-04 19:45:00  138.1600  138.1600  138.1100  138.1200      4015
2022-11-04 19:40:00  138.1600  138.1700  138.1500  138.1700      4399

In [34]:
load_dotenv()
api_key = os.getenv("ALPHA_API_KEY")
symbols = ["AAPL", "NVDA", "TSLA", "IBM"]
stock_list = []

for symbol in symbols:
    function = "TIME_SERIES_INTRADAY"
    url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval=60min&apikey={api_key}"
    data = requests.get(url).json()
    df = pd.DataFrame(data["Time Series (60min)"]).T
    stock_list.append(df)

KeyError: 'Time Series (60min)'

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2022-11-04 20:00:00 to 2022-10-26 10:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    object
 1   2. high    100 non-null    object
 2   3. low     100 non-null    object
 3   4. close   100 non-null    object
 4   5. volume  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

In [22]:
df.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [23]:
print(f"{len(stock_list) = }")
stock_list[:2]

len(stock_list) = 4

[                      1. open   2. high    3. low  4. close 5. volume
 2022-11-04 20:00:00  138.2200  138.2200  138.0700  138.1200     64681
 2022-11-04 19:00:00  138.1900  138.2400  138.1300  138.2300     38808
 2022-11-04 18:00:00  138.2000  138.3000  138.0700  138.2138    116813
 2022-11-04 17:00:00  138.3900  138.6200  138.1200  138.2400   3410067
 2022-11-04 16:00:00  136.7700  138.5000  136.6200  138.3900  20985511
 ...                       ...       ...       ...       ...       ...
 2022-10-28 05:00:00  143.4516  146.1271  143.4516  146.0972    155019
 2022-10-27 20:00:00  145.0589  145.7478  144.8592  145.1087    312666
 2022-10-27 19:00:00  145.7377  147.0955  144.4799  144.9591   1018580
 2022-10-27 18:00:00  143.0621  148.0040  139.1687  145.6080   5998211
 2022-10-27 17:00:00  144.5597  145.6579  135.7743  142.9324  16391852

 [100 rows x 5 columns],
                       1. open   2. high    3. low  4. close 5. volume
 2022-11-04 20:00:00  141.6100  141.8000  141.6000  141.7500     30949
 2022-11-04 19:00:00  141.6200  141.6500  141.4900  141.6000     19844
 2022-11-04 18:00:00  141.3200  141.6400  141.3100  141.6400     25728
 2022-11-04 17:00:00  141.5600  141.8000  141.1500  141.2900    980091
 2022-11-04 16:00:00  140.1800  141.8100  139.8500  141.8000   9840256
 ...                       ...       ...       ...       ...       ...
 2022-10-28 05:00:00  129.0400  130.1200  129.0400  130.1200     11959
 2022-10-27 20:00:00  130.3300  130.7000  130.2600  130.5600     20410
 2022-10-27 19:00:00  130.7600  130.9600  130.2600  130.4000     25861
 2022-10-27 18:00:00  130.1700  131.1200  129.8200  130.7500    132210
 2022-10-27 17:00:00  131.7000  131.9800  127.5500  130.2900   1981412

 [100 rows x 5 columns]]

In [24]:
# concatenated a list of series into a dataframe
stocks = pd.concat(stock_list, axis="columns")
stocks

,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume
2022-11-04 20:00:00,138.2200,138.2200,138.0700,138.1200,64681,141.6100,141.8000,141.6000,141.7500,30949,208.1900,209.0500,208.1600,209.0500,121494,137.0300,137.0300,136.3100,137.0000,698
2022-11-04 19:00:00,138.1900,138.2400,138.1300,138.2300,38808,141.6200,141.6500,141.4900,141.6000,19844,208.3000,208.3900,208.1000,208.1900,64182,136.5500,136.5500,136.5500,136.5500,100
2022-11-04 18:00:00,138.2000,138.3000,138.0700,138.2138,116813,141.3200,141.6400,141.3100,141.6400,25728,207.5900,208.3800,207.3697,208.2500,147406,NaN,NaN,NaN,NaN,NaN
2022-11-04 17:00:00,138.3900,138.6200,138.1200,138.2400,3410067,141.5600,141.8000,141.1500,141.2900,980091,207.4700,207.8900,206.8000,207.5900,1108248,136.9600,137.0000,136.8800,137.0000,91495
2022-11-04 16:00:00,136.7700,138.5000,136.6200,138.3900,20985511,140.1800,141.8100,139.8500,141.8000,9840256,206.4000,208.7000,206.0400,207.5300,15228969,136.5200,137.0800,136.3500,137.0000,938626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.3500,135.7500,135.1600,135.6100,498893
2022-10-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.7390,135.8630,135.2301,135.3500,393057
2022-10-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.2700,135.7800,135.2400,135.7350,651240
2022-10-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.6400,135.4965,133.5411,135.2800,1086459
2022-10-26 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.7000,134.4600,132.6400,133.6050,485533

In [26]:
import plotly.express as px

px.line(
    stocks,
    x=stocks.index,
    y=symbols,
    labels={"variable": "Stock", "value": "Value in (USD)", "index": "Date"},
    title="Stocks in one week",
)

ValueError: All arguments should have the same length. The length of argument `y` is 4, whereas the length of  previously-processed arguments ['index'] is 120

## Working with time series

In [36]:
print(f"{stocks.index.dtype =}")

stocks.index.dtype =dtype('O')

In [39]:
# convert dtype object to datetime
stocks.index = pd.to_datetime(stocks.index)
print(stocks.index.dtype)
stocks.head()

datetime64[ns]

,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume
2022-11-04 20:00:00,138.2200,138.2200,138.0700,138.1200,64681,141.6100,141.8000,141.6000,141.7500,30949,208.1900,209.0500,208.1600,209.0500,121494,137.0300,137.0300,136.3100,137.0000,698
2022-11-04 19:00:00,138.1900,138.2400,138.1300,138.2300,38808,141.6200,141.6500,141.4900,141.6000,19844,208.3000,208.3900,208.1000,208.1900,64182,136.5500,136.5500,136.5500,136.5500,100
2022-11-04 18:00:00,138.2000,138.3000,138.0700,138.2138,116813,141.3200,141.6400,141.3100,141.6400,25728,207.5900,208.3800,207.3697,208.2500,147406,NaN,NaN,NaN,NaN,NaN
2022-11-04 17:00:00,138.3900,138.6200,138.1200,138.2400,3410067,141.5600,141.8000,141.1500,141.2900,980091,207.4700,207.8900,206.8000,207.5900,1108248,136.9600,137.0000,136.8800,137.0000,91495
2022-11-04 16:00:00,136.7700,138.5000,136.6200,138.3900,20985511,140.1800,141.8100,139.8500,141.8000,9840256,206.4000,208.7000,206.0400,207.5300,15228969,136.5200,137.0800,136.3500,137.0000,938626

In [40]:
stocks.loc["2022"]

,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume,1. open,2. high,3. low,4. close,5. volume
2022-11-04 20:00:00,138.2200,138.2200,138.0700,138.1200,64681,141.6100,141.8000,141.6000,141.7500,30949,208.1900,209.0500,208.1600,209.0500,121494,137.0300,137.0300,136.3100,137.0000,698
2022-11-04 19:00:00,138.1900,138.2400,138.1300,138.2300,38808,141.6200,141.6500,141.4900,141.6000,19844,208.3000,208.3900,208.1000,208.1900,64182,136.5500,136.5500,136.5500,136.5500,100
2022-11-04 18:00:00,138.2000,138.3000,138.0700,138.2138,116813,141.3200,141.6400,141.3100,141.6400,25728,207.5900,208.3800,207.3697,208.2500,147406,NaN,NaN,NaN,NaN,NaN
2022-11-04 17:00:00,138.3900,138.6200,138.1200,138.2400,3410067,141.5600,141.8000,141.1500,141.2900,980091,207.4700,207.8900,206.8000,207.5900,1108248,136.9600,137.0000,136.8800,137.0000,91495
2022-11-04 16:00:00,136.7700,138.5000,136.6200,138.3900,20985511,140.1800,141.8100,139.8500,141.8000,9840256,206.4000,208.7000,206.0400,207.5300,15228969,136.5200,137.0800,136.3500,137.0000,938626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.3500,135.7500,135.1600,135.6100,498893
2022-10-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.7390,135.8630,135.2301,135.3500,393057
2022-10-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.2700,135.7800,135.2400,135.7350,651240
2022-10-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.6400,135.4965,133.5411,135.2800,1086459
2022-10-26 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.7000,134.4600,132.6400,133.6050,485533