## Cities in Sweden - create dataset (*)

In [56]:
import pandas as pd

# town_stat = dict(Malmö = 347949, Stockholm = 975551, Uppsala = 233839, Göteborg = 583056)

# town_stat = pd.Series(town_stat)

# town_stat
    #a) Use your DataFrame to print out all the cities. (*)
towndata = {'kommun':['Malmö', 'Stockholm', 'Uppsala', 'Göteborg'], 'population': [347949, 975551, 233839, 583056]}
towncol = pd.DataFrame(data=towndata)
# towncol


# kommunstad = towncol["kommun"]
# kommunstad
    # b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)
# towncol[towncol['kommun'] == 'Göteborg']

    # c) Sort the cities by population from largest to smallest. (*)
# townsort_big= towncol.sort_values(by='population', ascending = False)
# townsort_big

    # d) Filter out the three largest cities. (*)
# townsort_top_3= towncol.sort_values(by='population',).head(1)
# townsort_top_3

In [54]:
#e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named:
# Population (%). This column should be filled with percentage of the Swedish population for each city.

towncol["Population%"] = (towncol["population"]/10379295 * 100)

towncol

      kommun  population  Population%
0      Malmö      347949     3.352338
1  Stockholm      975551     9.399010
2    Uppsala      233839     2.252937
3   Göteborg      583056     5.617491

In [193]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns




komtoppfile = "../Data/komtopp50_2020.xlsx"

komtopp = pd.read_excel(komtoppfile, sheet_name = "Totalt")

In [195]:



komtopp = komtopp.rename(columns = {
                    "Unnamed: 0": "Rang2020",
                    "Unnamed: 1": "Rang 2019",
                    "Unnamed: 2": "Kommun",
                    "Unnamed: 3": "Folkmängd 2020",
                    "Unnamed: 4": "Folkmängd 2019",
                    "Unnamed: 5": "Förändring"})


# df = df.drop(df.index[0:6])
komtopp = komtopp.drop(komtopp.index[0:6])
komtopp = komtopp.reset_index(drop = True)
komtopp

# komtoppsort = komtopp.sort_values(by='Folkmängd 2020', ascending = False)
# komtoppsort

# komtoppsmallsort = komtopp.sort_values(by='Folkmängd 2020').head()
# komtopp['Folkmängd 2020'].nsmallest(5)

# komtopp.nsmallest(5,['Folkmängd 2020'])

# komtopp.nsmallest(5,['Folkmängd 2020'])
# townsort_top_3= towncol.sort_values(by='population',).head(1)

# c) Sort the cities by population from largest to smallest. (*)
# townsort_big= towncol.sort_values(by='population', ascending = False)
# townsort_big

,Rang2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
0,83,84.0,Ale,31868,31402.0,1.483982
1,64,64.0,Alingsås,41602,41420.0,0.439401
2,123,123.0,Alvesta,20224,20134.0,0.447005
3,255,255.0,Aneby,6821,6848.0,-0.394276
4,169,167.0,Arboga,14039,14087.0,-0.34074
...,...,...,...,...,...,...
285,54,55.0,Österåker,46644,45574.0,2.34783
286,116,115.0,Östhammar,22251,22250.0,0.004494
287,160,159.0,Östra Göinge,15017,15007.0,0.066636
288,284,284.0,Överkalix,3289,3315.0,-0.784314
289,279,279.0,Övertorneå,4217,4299.0,-1.90742

In [197]:
komtoppsort = komtopp.sort_values('Folkmängd 2020', ascending = False)
komtoppsort

    Rang2020  Rang 2019     Kommun Folkmängd 2020  Folkmängd 2019 Förändring
198        1        1.0  Stockholm         975551        974073.0   0.151734
57         2        2.0   Göteborg         583056        579281.0    0.65167
134        3        3.0      Malmö         347949        344166.0   1.099179
241        4        4.0    Uppsala         233839        230767.0   1.331213
124        5        5.0  Linköping         164616        163051.0   0.959822
..       ...        ...        ...            ...             ...        ...
271      286      286.0      Åsele           2805          2794.0   0.393701
5        287      287.0   Arjeplog           2718          2785.0  -2.405745
29       288      288.0    Dorotea           2498          2551.0  -2.077617
194      289      289.0    Sorsele           2442          2489.0  -1.888309
12       290      290.0   Bjurholm           2387          2408.0  -0.872093

[290 rows x 6 columns]

In [198]:
komtoppsortmin = komtoppsort.head(-5)
komtoppsortmin

    Rang2020  Rang 2019     Kommun Folkmängd 2020  Folkmängd 2019 Förändring
198        1        1.0  Stockholm         975551        974073.0   0.151734
57         2        2.0   Göteborg         583056        579281.0    0.65167
134        3        3.0      Malmö         347949        344166.0   1.099179
241        4        4.0    Uppsala         233839        230767.0   1.331213
124        5        5.0  Linköping         164616        163051.0   0.959822
..       ...        ...        ...            ...             ...        ...
157      281      281.0     Norsjö           3945          3986.0    -1.0286
265      282      282.0       Ydre           3726          3747.0  -0.560448
146      283      283.0   Munkfors           3725          3740.0   -0.40107
288      284      284.0  Överkalix           3289          3315.0  -0.784314
136      285      285.0       Malå           3024          3068.0  -1.434159

[285 rows x 6 columns]

In [199]:

komtopp2019 = pd.DataFrame(komtopp['Folkmängd 2019'])
komtopp2020 = pd.DataFrame(komtopp['Folkmängd 2020'])

print(f'{komtopp2019.sum()}')
print(komtopp2020.sum())

Folkmängd 2019    10327589.0
dtype: float64
Folkmängd 2020    10379295
dtype: object